
body {
    background: #F0F8FF;
    font-family: sans-serif;
}
 .root{
     width: auto;
   
 }
 .container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     /* flex-flow: row wrap; */
    justify-content:space-around;
 }

 .showCards{
    background: #53bed8;
    width: 420px;
    height: 129px;
    margin-top: 3rem;
    color: rgb(245, 246, 247);
    display: flex;
   
 }
 .information{
     padding: 10px;
 }




